<%- include('partials/_htmlhead'); -%>

  <h1>
    <%= title %>
  </h1>

  <% if (data) { %>

    <p>Data received in last request:</p>

    <table>
      <% for (const name in data) { %>
        <tr>
          <th>
            <%= name %>:
          </th>
          <td>
            <%= data[name] %>
          </td>
        </tr>
        <% } %>
    </table>

    <% } %>

      <p>Submission form:</p>

      <form action="/" method="get">

        <div>
          <label for="name">name</label>
          <input type="text" id="name" name="name" value="<%= data.name %>" />
        </div>

        <div>
          <input type="radio" id="encrypted" name="isEnc" value="encrypted" checked />
          <label for="encrypted">encrypted</label>

          <input type="radio" id="encrypted" name="isEnc" value="not encrypted" checked />
          <label for="not encrypted">not encrypted</label>
        </div>

        <div>
          <label for="nodejs">like Node.js?</label>
          <input type="checkbox" id="nodejs" name="nodejs" value="yes" <% if (data.nodejs) { %> checked<% } %> />
        </div>


        <button>submit</button>

      </form>

      <%- include('partials/_htmlfoot'); -%>